<footer class="footer">
  &copy; 2026
  <a href="https://www.darrenhorrocks.co.uk/solar-forecast/" target="_blank" rel="noopener noreferrer">Solar Forecast</a>
  ·
  <a href="https://github.com/bizzehdee/solar-forecast" target="_blank" rel="noopener noreferrer">Source code on GitHub</a>
  ·
  <a href="https://ko-fi.com/bizzehdee" target="_blank" rel="noopener noreferrer">Support on Ko-fi</a>
  ·
  <a routerLink="/privacy-policy">Privacy Policy</a>
  ·
  <a routerLink="/disclaimer">Disclaimer</a>
</footer>

<router-outlet></router-outlet>
